.StartContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  transition: opacity var(--reveal-duration) ease;
}

@media (hover: hover) and (pointer: fine) {
  .StartContainer {
    opacity: 0.5;
  }
}

.StartContainer:hover,
.StartContainer:focus-within {
  opacity: 1;
}

.Start {
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
  font-size: 6rem;
}

.Start:focus {
  outline-color: currentColor;
}
