.Footer {
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 3;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.Footer * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Footer a {
  color: currentColor;
  text-decoration: none;
  outline-color: currentColor;
}

.Footer a:hover {
  color: currentColor;
  text-decoration: underline;
}
