.MainContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  transition: background-color var(--reveal-duration) ease;
  transition-delay: 2.5s;
}

.MainContainer::before,
.MainContainer::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--background);
}

.MainContainer::before {
  top: 0;
}

.MainContainer::after {
  bottom: 0;
}
